.funrun-registration{
    background-image: url('../../img/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.gradient-background {
    /* height: 100px; Sesuaikan tinggi elemen sesuai kebutuhan */
    background: linear-gradient(to bottom, #eeff00, #fffbe0);
    border-radius: 20px; /* Sesuaikan radius sudut */
    padding: 20px;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.gradient-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Height of the gradient effect */
    background: linear-gradient(to bottom, #eeff00, rgba(238, 255, 0, 0.1));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
}

.card-body label{
    color: black;
    font-weight: bold;
}

.card-body input,
.card-body select{
    background: transparent;
    border: 2px solid #727272;
}

.kaca{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    /* padding: 20px; */
}

.btn-submit{
    background-color: #E4FF3C;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 73%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* login */
.toggle-container {
    display: flex;
    position: relative;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
    width: 300px;
}

.toggle-btn {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1;
}

.toggle-btn.active {
    color: white;
}

.toggle-indicator {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    transition: left 0.3s;
    z-index: 0;
}

.toggle-container .toggle-btn:hover {
    color: #fff;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}
